# Your Telegram bot token obtained using @BotFather
TELEGRAM_BOT_TOKEN=

# Telegram user ID of admins, or - to assign no admin
ADMIN_USER_IDS=

# Comma separated list of telegram user IDs, or * to allow all
ALLOWED_TELEGRAM_USER_IDS=